html
  head
    title Tracker.js
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    link(rel="stylesheet", src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", src="/static/css/style.css")
  body
